			<!-- Footer -->
      <footer id="footer">
        <div class="container">
          <div class="row gtr-200">
            <div class="col-12">

              <!-- Contact -->
                <section>
                  <h2 class="major"><span>Get in touch</span></h2>
                  <ul class="contact">
                    <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                    <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                    <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                    <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                    <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
                  </ul>
                </section>

            </div>
          </div>

          <!-- Copyright -->
            <div id="copyright">
              <ul class="menu">
                <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP || Nhat JDM Imports</a></li>
              </ul>
            </div>

        </div>
      </footer>
