/* Reset the fieldset */
fieldset {
  border: 0;
}

/* Give bigger font */
legend {
  font-size: 2rem;
}

/* Set some top space for title and the button */
.full-name, .r-submit-btn {
  margin-top: 3rem;
}

/* Give a height to the wrapper */
.form-wrapper {
  height: 60vh;
  display: flex;
}

/* Center the form */
.form {
  margin: auto;
}